absl-py
attrs
bidict
blinker
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
dnspython
eventlet
Flask
Flask-SocketIO
flatbuffers
fonttools
greenlet
gunicorn
h11
idna
itsdangerous
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
mysql-connector-python
numpy
opencv-python-headless
opt_einsum
packaging
pillow
protobuf
pycparser
pyparsing
python-dateutil
python-dotenv
python-engineio
python-socketio
requests
scipy
simple-websocket
six
urllib3
Werkzeug
wsproto
